.DisplayHistory {
	background: #333;
	color: #a5acaf;
	display: flex;
	font-family: 'Digital-7 Mono';
	font-size: 4vmin;
	justify-content: space-between;
	align-items: center;
	height: 34%;
	width: 100%;
	padding: 0 6px;
}

.DisplayHistory p {
	line-height: 1;
	margin: auto;
	width: 100%;
}

.previous-history {
	box-sizing: border-box;
	text-align: left;
	font-size: 2vmax;
	height: 100%;
	overflow: hidden;
	padding: 3px 10px 0 0;
}
