.DisplayCurrent {
	background: #eee;
	display: flex;
	font-family: 'Digital-7 Mono';
	font-size: 9vmin;
	justify-content: space-between;
	align-items: center;
	max-height: 66%;
    height: 100%;
	padding-right: 6px;
}

.DisplayCurrent .negative {
	color: red;
	font-size: 14vmin;
	padding-left: 14px;
}
