.DisplayCurrent {
	align-items: center;
	background: #a5acaf;
	color: #333;
	display: flex;
	font-family: 'Digital-7 Mono';
	font-size: 8vmin;
	justify-content: space-between;
	max-height: 66%;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0 6px;
    height: 100%;
}

.DisplayCurrent .negative {
	color: red;
	font-size: 10vmin;
	padding: 0;
}
