.DisplayCurrent {
	background: #eee;
	display: flex;
	font-family: 'Digital-7 Mono';
	font-size: 9vmin;
	justify-content: flex-end;
	align-items: center;
	max-height: 66%;
    height: 100%;
	padding-right: 6px;
}
