div {
	box-sizing: border-box;
}

.app-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgba(119, 35, 255, 1.00);
	height: 100vh;
}

.App {
	border: 5px outset #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
	height: 85%;
	width: 100vw;
	max-height: 960px;
	max-width: 640px;
	min height: 480px;
	min-width: 360px;
	overflow: auto;
	margin: 0 auto auto auto;
	padding: 20px;
}

.H2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	height: 50%;
}

.H4 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.W1 {
	width: 20%;
}

.W3 {
    width: calc(20%*3);
}

.display-wrap {
    height: 100%;
    max-height: 18vh;
	margin: 0 0 12px 0;
}

/*BG COLOR CLASSES*/

.bg-grey 	{ background: #333; color: white; }
.bg-black 	{ background: black; /* color: white; */ }
.bg-plus     { background: #3D9970; /* color: black; */ }
.bg-minus 	{ background: #68C8FF; /* color: black; */ }
.bg-multiply 	{ background: #C64547; /* color: white; */ }
.bg-divide { background: #7723FF; /* color: white; */ }
.bg-red     { background: #ff4136; /* color: white; */ }
.bg-green   { background: #2ecc40; /* color: white; */ }

/*ICONS & IMAGES*/

.icon-ops {
	width: 7vmin;
}

.minus {
	transform: rotate(90deg);
}

/*@FONTFACE for CALCULATOR-digital-display fonts*/

@font-face {
	font-family: 'Digital-7 Mono';
	src: url('./Fonts/hinted-Digital-7Mono.eot');
	src: url('./Fonts/hinted-Digital-7Mono.eot?#iefix') format('embedded-opentype'),
		url('./Fonts/hinted-Digital-7Mono.woff') format('woff'),
		url('./Fonts/hinted-Digital-7Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Digital-7 Italic';
	src: url('./Fonts/hinted-Digital-7MonoItalic.eot');
	src: url('./Fonts/hinted-Digital-7MonoItalic.eot?#iefix') format('embedded-opentype'),
		url('./Fonts/hinted-Digital-7MonoItalic.woff') format('woff'),
		url('./Fonts/hinted-Digital-7MonoItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
